body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #298A08;
}

.quemsomos{
    background-color: #B1F189;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #2CAA2C;
    color: white;
}

.servicos{
    background-color: #B1F189;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}